# Generate data for DIY Data - Episode 3

Columns: first_name, last_name, zip_code, next_meter_reading

In [1]:
from faker import Faker
fake = Faker()

In [2]:
fake.first_name()

'Stephen'

In [3]:
fake.last_name()

'Rush'

In [4]:
fake.zipcode()

'97470'

In [5]:
fake.future_date()

datetime.date(2021, 11, 25)

In [6]:
def get_records(record_count=3):
    import random
    for record in range(record_count):
        yield {'first_name': fake.first_name(),
                'last_name': fake.last_name(),
                'zipcode': fake.zipcode_in_state(random.choice(['MA', 'IL', 'GA'])),
                'next_meter_reading': fake.future_date()}

In [7]:
import pandas as pd
df = pd.DataFrame([record for record in get_records(100000)])

In [8]:
df

      first_name last_name zipcode next_meter_reading
0         Rhonda    Rivera   61744         2021-11-17
1            Joe   Calhoun   30722         2021-11-25
2         Andrew     Jones   62167         2021-11-30
3          Grace   Johnson   62236         2021-11-21
4          James     Dixon   60585         2021-11-11
...          ...       ...     ...                ...
99995   Margaret   Montoya   01096         2021-12-06
99996    Matthew    Jordan   30701         2021-11-26
99997      Wyatt  Martinez   31572         2021-11-15
99998     Adrian     Black   02406         2021-12-05
99999       Lisa    Parker   02311         2021-11-15

[100000 rows x 4 columns]

In [9]:
df.to_csv('people.csv', index=False)

In [10]:
import random

In [11]:
random.choice(['MA', 'IL', 'GA'])

'GA'